= form_for(@profile) do |f|
  .row
    .large-2.columns
      = f.label :hired_on, 'Hired On:'
    .large-2.columns.end
      = f.text_field :hired_on, class: 'datepicker', value: @profile.hired_on.to_s(:concise)
  .row
    .large-2.columns
      = f.label :pto_hours_used, 'PTO Hours Used:'
    .large-2.columns.end
      = f.text_field :pto_hours_used
  .row
    .large-offset-2.large-6.columns.end
      = f.submit button_label, class: 'button small radius'