td #{start_date}
td #{end_date}
td #{hours}
td #{status}
td #{pto_type}
td
  ul.button-group.radius
    li
      a.button.tiny.secondary(href=edit_link) Edit
    li
      button.button.tiny.alert.js-behavior-confirmable(href=delete_link, "data-method"="delete", rel="nofollow") Delete
